In [2]:
import pandas as pd
import glob
from datetime import datetime
out_dir = "../data" #output directory
# read data from all files
result = pd.concat(
    [pd.read_csv(file, encoding="utf-8", parse_dates=[1,2,5], dayfirst=True) for file in glob.glob(out_dir + "/*.csv")],
    ignore_index=True)

In [4]:
# summary
#result.groupby(by = ['author', 'crawled-date']).count()
result.groupby(by = 'crawled-date').count()

,author,date,factor,match,placed-date,stake,status,type
crawled-date,,,,,,,,
2019-10-30 23:14:00,35154,35152,35154,35154,35154,35154,35154,35154
2019-10-31 21:53:00,911,911,911,911,911,911,911,911
2019-11-02 00:57:00,1291,1291,1291,1291,1291,1291,1291,1291
2019-11-02 23:04:00,309,309,309,309,309,309,309,309
2019-11-03 10:23:00,42,42,42,42,42,42,42,42

In [21]:
# drop possibly new bets
NEWBET_THRES = 5
df = result[[d.days > NEWBET_THRES for d in result['crawled-date'] - result.date]]
df.groupby(by = 'crawled-date').count()

,author,date,factor,match,placed-date,stake,status,type
crawled-date,,,,,,,,
2019-10-30 23:14:00,35152,35152,35152,35152,35152,35152,35152,35152
2019-10-31 21:53:00,856,856,856,856,856,856,856,856
2019-11-02 00:57:00,1170,1170,1170,1170,1170,1170,1170,1170
2019-11-02 23:04:00,283,283,283,283,283,283,283,283
2019-11-03 10:23:00,35,35,35,35,35,35,35,35

In [ ]:
# analyse newly crawled
result[result['crawled-date'] == datetime(2019, 10, 31, 21, 53)] \
    .groupby(by = ['author', 'date'], as_index=False).count()


result[(result['date'] == datetime.date(2019, 10, 19)) & (result['author'] == 'Arturio') ]