In [43]:
import pandas as pd
import math 
import datetime
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
import utils_explore as ue

data = ue.all_bets()
data_old = ue.all_bets("../data_corrupt/data")

In [44]:
#new data not full
data_old = data_old[data_old['placed-date'] >= datetime.date(2018,1,1)]
data_old = data_old[~data_old.author.isin([u'Arturio', u'kruglov', u'nkovalchuk', u'tuktik', u'zayceva'])]

In [45]:
#check
set(data_old.author) - set(data.author)

set()

In [46]:
#calc occurances
df1 = data.groupby(by=['author', data['placed-date'].dt.to_period("M")]).agg({'factor':'count'})
df1.reset_index(inplace=True)
df0 = data_old.groupby(by=['author', data_old['placed-date'].dt.to_period("M")]).agg({'factor':'count'})
df0.reset_index(inplace=True)

In [47]:
#gather
df_merge = df0.merge(df1, on=['author', 'placed-date'], indicator='join', how="outer", suffixes=['_old', '_new'])

In [48]:
#calc differences
df_merge['factor_old'] = df_merge['factor_old'].fillna(0)
df_merge['factor_new'] = df_merge['factor_new'].fillna(0)
df_merge['diff'] = abs(df_merge['factor_old'] - df_merge['factor_new'])

In [49]:
#overall number of diffs
df_merge.groupby(by="author").agg({'diff':'sum'}).sum()

diff    1909.0
dtype: float64

In [50]:
data.describe()

             factor
count  21779.000000
mean       2.453937
std        1.865546
min        0.490000
25%        1.800000
50%        1.990000
75%        2.400000
max      116.820000