In [ ]:
import pandas as pd
import math 
import datetime
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
import utils_explore as ue

data = ue.all_bets()

In [89]:
# select interesting authors and the most recent time (~6 month)
authors = ['chaplygin', 'falcao1984', 'teplofevralya']
df = data[(data.author.isin(authors)) & (data['placed-date']>=datetime.date(2019, 5, 1))]

In [93]:
#group data by weeks, then add amount ratio for every author, 
# then calculate count and success rate with this new amounts
df_weekly = ue.calc_win_rate(df, 'W')
df_amount = pd.DataFrame({'author' : authors, 'ratio' : [2, 2, 1]}) # authors = ['chaplygin', 'falcao1984', 'teplofevralya']
df_weekly = df_weekly.merge(df_amount, on='author', how="left").drop(columns=['author','success_rate','return'])
df_weekly['count'] = df_weekly['count'] * df_weekly['ratio']
df_weekly['win'] = df_weekly['win'] * df_weekly['ratio']
#summarize on weeks
df_weekly = df_weekly.groupby(by='placed-date').agg('sum')
df_weekly['success_rate'] = df_weekly['win'] / df_weekly['count'] * 100
df_weekly.reset_index(inplace=True)
df_weekly

              placed-date  count    win  ratio  success_rate
0   2019-04-29/2019-05-05   26.0  17.11      5     65.807692
1   2019-05-06/2019-05-12   37.0  -3.02      5     -8.162162
2   2019-05-13/2019-05-19   30.0   0.76      5      2.533333
3   2019-05-20/2019-05-26   31.0   2.07      5      6.677419
4   2019-05-27/2019-06-02   33.0   4.25      5     12.878788
5   2019-06-03/2019-06-09   60.0  22.82      5     38.033333
6   2019-06-10/2019-06-16   31.0   4.21      5     13.580645
7   2019-06-17/2019-06-23   41.0  -4.32      5    -10.536585
8   2019-06-24/2019-06-30   20.0   5.82      4     29.100000
9   2019-07-01/2019-07-07   27.0  -1.26      5     -4.666667
10  2019-07-08/2019-07-14   45.0  10.33      5     22.955556
11  2019-07-15/2019-07-21   32.0   7.37      5     23.031250
12  2019-07-22/2019-07-28   40.0  -4.29      5    -10.725000
13  2019-07-29/2019-08-04   29.0  -2.12      5     -7.310345
14  2019-08-05/2019-08-11   36.0  -5.58      5    -15.500000
15  2019-08-12/2019-08-18   31.0  11.45      5     36.935484
16  2019-08-19/2019-08-25   27.0   6.63      5     24.555556
17  2019-08-26/2019-09-01   35.0   1.18      3      3.371429
18  2019-09-02/2019-09-08   40.0 -17.67      5    -44.175000
19  2019-09-09/2019-09-15   18.0   4.40      5     24.444444
20  2019-09-16/2019-09-22   22.0   5.37      3     24.409091
21  2019-09-23/2019-09-29   60.0  11.25      5     18.750000
22  2019-09-30/2019-10-06   23.0   3.66      5     15.913043
23  2019-10-07/2019-10-13    6.0   5.52      2     92.000000
24  2019-10-14/2019-10-20   17.0  -1.08      5     -6.352941
25  2019-10-21/2019-10-27   36.0   1.64      5      4.555556
26  2019-10-28/2019-11-03   36.0  -7.68      5    -21.333333
27  2019-11-04/2019-11-10   68.0  10.30      5     15.147059
28  2019-11-11/2019-11-17   43.0   3.60      5      8.372093

In [94]:
# size of each stake depends on budget
# the budget spreads with respekt to amount ratio
budget = 800
single_stake = budget / df_weekly['count'].mean()
df_amount['stake'] = df_amount['ratio'] * single_stake
df_amount

          author  ratio      stake
0      chaplygin      2  47.346939
1     falcao1984      2  47.346939
2  teplofevralya      1  23.673469

In [95]:
#simple outcome 
df_weekly['fin-result'] = df_weekly['win'] * single_stake
df_weekly['fin-result'].sum()

2195.004081632653

In [96]:
tax = 0.95 #taxes
bets_inaccuracy = 0.9 #my odds are often differ (they are smaller) 
round(df_weekly['fin-result'].sum() * tax * bets_inaccuracy, 1)

1876.7